name: Publish Package to npmjs
on:
    push:
        branches:
            - main # Or 'master' depending on your repo

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write # Vital for the "keyless" provenance feature
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  registry-url: "https://registry.npmjs.org"

            - run: npm install

            # This publishes the package and links it to this GitHub Action
            - run: npm publish --provenance --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
